.App {
  text-align: center;
  background-color: azure;
}
.text {
  margin-top: 20px;
  margin-left: 20px;
  font-size: large;
}

.start_page p {
  margin-top: 20px;
  margin-left: 10px;
  font-size: medium;
}

.fade_in {
  color: #4da6ff;
  opacity: 0.6;
  transition: opacity 0.4s ease-in-out;
}
.fade_in:hover {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
